h1{
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 45px;
    color: white;
    margin-bottom: 0.2em;
}
#hometown{
    margin-top: 0em;
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 25px;
    color: white;
}

#pp{
    display: block;
    border-radius: 50%;
    height: auto;
    width: 250px;
    margin-left: auto;
    margin-right: auto;
}
#click{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: white;
    text-decoration: none;
}
#click:hover{
    color: #BFEFFF;
    transition: color 0.5s ease;
}
#dot{
    font-size: 15px;
    font-family: 'Lato', sans-serif;
    color: white;
}
#main{
}
